@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color:#2681bb;
    --secondary-color: #1c4660;
    --text-color: #333;
    --background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #2681bb;
    color: #ffffff;
    padding: 1rem 0;
    border-bottom: var(--primary-color) 3px solid;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s ease;
}

header.scrolled {
    background: rgba(53, 66, 74, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 1.8em;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: var(--background-color);
    font-weight: bold;
}

header a:hover {
    color: var(--secondary-color);
}

form {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #164bc7; /* Darker shade on hover */
}

.alert {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}
